# Ignorar la carpeta del entorno virtual
venv/

# Ignorar archivo de credenciales
streamlit-formulario-costos-e13fb9491422.json

# Ignorar configuraciones locales de VS Code
.vscode/

# Ignorar archivos de compilación de Python
__pycache__/
*.pyc
*.pyo
